.tripDetailPageWrapper {
    padding: 50px 80px;
    background-color: #f5f5f5;
    min-height: 80vh;

    .tripDetailWrapper {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 50px;
        min-height: 50vh;

        .leftTripDetailWrapper {
            width: 25%;
            padding: 20px;
            background-color: #fff;
            color: #2d3e52;
            height: fit-content;

            .tripName {
                text-wrap: nowrap;
                width: 100%;
                font-size: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
            }

            .description {
                margin: 8px 0;

                span {
                    font-size: 15px;
                    color: #426890;
                }
            }

            .placesVisited {

                .placesHead {
                    font-weight: bold;
                }

                .places {
                    margin: 0 0 0 30px;
                    font-weight: bold;
                    color: green;
                }
            }

            .amount_spend {
                margin: 10px 0;

                span {
                    font-weight: bold;
                    color: #426890;
                }
            }

            .membersWrapper {
                .membersHead {
                    font-weight: bold;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;

                    .membersCount {
                        margin: 5px 0 0 0;
                    }
                }

                .members {
                    margin: 0 0 0 30px;
                    font-weight: bold;
                    color: green;
                }
            }
        }

        .rightTripDetailWrapper {
            width: 75%;
            padding: 20px;
            align-self: stretch;
            background-color: #fff;

            .daysWrapper {
                margin: 20px 0;
                color: #2d3e52;
                background-color: #f5f5f5;
                box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
                padding: 10px 15px;

                .dayHeadWrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}