.tripWrapper {
    display: flex;
    margin: 20px 0;
    min-height: 180px;
    color: #2d3e52;
    background-color: #f5f5f5;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
    padding: 10px 15px;

    .tripDetails {
        width: 70%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .tripContent {

            .tripHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .tripDates {
                    font-weight: bold;
                    font-size: 16px;
                    max-width: 80%;
                    overflow: hidden;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    color: green;
                }

                .tripNumber {
                    font-weight: bold;
                    font-size: 16px;
                    margin: 0 10px 0 0;
                    color: cornflowerblue;
                }
            }

            .tripPlaces {
                font-weight: bold;
                font-size: 20px;
                margin: 15px 0;
            }

            .description {

                b {
                    font-size: 15px;
                    margin: 0 10px 0 0;
                }

                span {
                    font-size: 13px;
                    color: #426890;
                    font-weight: bold;
                }
            }
        }


        .tripActionWrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 15px;
            margin: 0 10px;

            button {
                background-color: #2d3e52;
                color: #fff;
                outline: none;
                border: none;
                padding: 5px 15px;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
                }
            }
        }

    }

    .tripImage {
        display: flex;
        align-items: center;
        width: 30%;

        img {
            width: 100%;
            height: auto;
        }
    }
}