@font-face {
    font-family: nunito;
    src: url('../assests/fonts/Nunito-Italic.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: nunito;
}


$primaryColor: #0000FF;
$secondaryColor: #fff;