.addStatePopupWrapper {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .addStatePopup {
        background-color: #ddd;
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
        width: 400px;
        height: 150px;
        border-radius: 10px;
        padding: 40px 30px 20px;

        .addStatePopupHead {
            font-weight: bold;
            margin: 0 0 5px 0;
        }

        .addStatePopupInput {
            margin: 10px 0 0 0;
            width: 300px;
            height: 25px;
            outline: none;
            border: none;
            padding: 5px 10px;
        }

        .addStateActionWrapper {
            display: flex;
            justify-content: right;
            gap: 20px;
            align-items: center;
            margin: 50px 10px 0 0;

            .addStateAction {
                background-color: #2d3e52;
                color: #fff;
                font-weight: bold;
                border: none;
                outline: none;
                padding: 5px 10px;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
                }
            }
        }
    }
}